h1 {
  font-size: 40px;
  font-weight: bold;
  background-color: white;
  border-top-color: White;
  border-bottom-color: white;
}

body {
  background-color: rgb(0, 155, 180);
}

h5 {
  font-size: 23px;
  text-decoration: double underline;
}

h3 {
  font-size: 23.4px;
}

h2 {
  float: right;
  text-decoration: underline;
}

h6 {
  font-size: 21px;
  color: rgb(92, 255, 254);
}

hr {
  background-color: black;
  height: 2.5px;
}

h4 {
  font-size: 19px;
}